body{
	background:orange;
	margin: 0;
	padding: 20px;
	font-size: 24px;
	color: grey;
}

h1,h2{
	font-size: 80px;
}

#box{
	background: red;

}

#box .boxy{
		width: 200px;
		height: 200px;
		background: green;
		margin: 20px;
		float: left;
	}